@model MileageStats.Domain.Models.User
@{
    Layout = "~/Views/Shared/_Layout.Mobile.cshtml";
    ViewBag.Title = "Edit your Profile";
}
    <div id="profile" class="view">

    <h1>
        Your Profile</h1>
    @using (Html.BeginForm("Edit", "Profile"))
    {
        Html.RenderPartial("_ProfileForm", Model);
    }
</div>
