/* @group Sass Imports */
@import "reset.scss";
@import "definitions.scss";
/* @end */


/* @group HTML Elements */

body {
	color: $text; // this (like all colours) needs to be made into a $var…
	background-color: $highlight;
	font-size: .95em;
	font-family: 'Droid Sans', 'Roboto', Helvetica, Arial, sans-serif;
	margin: 0 auto; padding: 0;
}
h1, h2, h3, h4, h5, h6 { font-weight: bold; line-height: normal; }
h1 { font-size: 1.6em; margin-bottom: .5em; margin-top: .5em; }
h2 { font-size: 1.2em; margin-bottom: .7em; margin-top: .5em; padding-bottom: .2em; border-bottom: .2em solid $text;}
h3 { font-size: 1em; margin: 1em 0 .3em 0; padding: .25em 0; border-bottom: .1em solid $notify; color: $notify;}
h4 { font-size: 1em; color: $text; margin-bottom: .4em; margin-top: .3em; padding-bottom: .2em; border-bottom: .2em solid $text; color: lighten($primary, 25%);}
h5 { font-size: 1em; color: $text; margin-bottom: .3em; margin-top: .3em; }
h6 { font-size: 1em; color: $text; margin-bottom: .3em; margin-top: .3em; }
a {
	color: $notify;
	display: block;
	text-decoration: none;
}
strong {
	font-weight: bold;
}
img {
	height: auto;	
	max-width: 100%;
}
p {
	margin: 0;
	padding: 0;
}
input, select, textarea {
	font-size: 1.3em;
}
select {
	margin-bottom: .5em;
}
label {
	display: block;
	margin-top: 1em;
}
button {
	font-size: 1.5em;
}

/* @end */ 




/* @group Header & Footer */

body > header {
	height: 3em;
	background: $highlight;
	h1 {
		margin: 0;
		display: inline-block;
		font-size: 1.25em;
		font-weight: 100;
		margin-left: .5em;
		padding: .5em 0 .5em 2em;
		float: left;
		background-image: $img-app;
		background-position: center left;
		background-repeat: no-repeat;
	}
	a { color: $background; }
	ul {
		float: right;
		display: table;
		table-layout: fixed;
		li { display: table-cell; }
		a {
			margin-top: .7em;
			padding: .25em .7em;
		}
	}
}
body > footer {
	padding: 1em;
	background: $highlight;
	border-top: 4px solid darken($highlight, 10%);
	p {
		color: $background;
		padding: .5em 0; margin: 0;
		font-size: 0.85em;
		&.switch {
			border: 1px solid lighten($highlight, 10%);
			padding: 0.6em;
			margin: 0 0 2em 0;
			text-align: center;
			a {
				color: $white;
				font-size: 1.1em;
				display: inline;
				padding-left: 2em;
				margin: 0 auto;
				background-image: $img-desktop;
				background-position: center left;
				background-repeat: no-repeat;
			}
		}
		&.switch.mobile a {
			background-image: $img-mobile;
		}
	}
}

/* @end */




/* @group content region #id and .view styles */

#content, #extended { background: $background; }
#extended { display: none; }
.view { padding: .7em; background: $background; }

/* @end */




/* @group .title and .breadcrumbs styles */

.title, .breadcrumbs {
	background-color:  lighten($highlight, 10%);
	li {
		color: $background;
		padding: 0.75em;
		display: inline-block;
		vertical-align: top;
		border: none;
	}
	li:first-child {
		padding-left: 0.75em;
		padding-right: 1.25em;
		background-image: $img-separator-white;
		background-position: center right;
		background-repeat: no-repeat;
	}
	a { color: $background; }
	span {
		display: none;
	}
}

.title {
	a {
		width: 20px;
		height: 20px;
		margin-top: -.2em;
		background-image: $img-dashboard;
		background-position: center left;
		background-repeat: no-repeat;
	}
}

.breadcrumbs {
	background-color: lighten($highlight, 20%) ;
}

/* @end */


/* @group .tabs styles */

.tabs {
	width: 100%;
	display: table;
	table-layout: fixed;
	background-color: $primary;
	li {
		display: table-cell;
		border-right: 1px solid $highlight;
	}
	a {
		font-size: 1em;
		text-align: center;
		letter-spacing: 0.1em;
		text-transform: uppercase;
		padding: 0.75em 0;
		color: $background;
	}
	.selected {
		color: $highlight;
		background-color: $background;
	}
	&.vehicle-details li:last-child, &.vehicles-all li:first-child {
		width: 40%;
		border: none;
	}
}

/* @end */




/* @group .stats styles */

.stats {
	position: relative;
	height:  5.5em;
	display:  block;
	margin: 1.5em 0;
	dt, dd { padding: 0; margin: 0; }
	.mpg, .mpg-label, .mile, .mile-label, .month, .month-label {
		position: absolute;
	}
	.mile, .month { font-weight: bolder; font-size: 1.6em; }
	.mpg { font-weight: bold; font-size: 7em;	}
	.mpg { top: -0.2em; left: 0em; }
	.mpg-label { top: 0em; left: 8em; }
	.mile { top: -0.2em; right: 0.7em; }
	.mile-label { top: 1.4em; right: 1em; }
	.month { top:  1.8em; right: 0.7em; }
	.month-label { top:  4.6em; right: 1em; }
}

/* @end */




/* @group .pagination styles */

.flash {
	margin: 1em; // added 1em margin to compensate for lack of .view padding in current template implementation
	border: 1px solid $highlight;
	p {
		margin: 0 0 0 .5em;
		padding: .7em .5em .5em 2em;
		background-repeat: no-repeat;
		background-position: center left; }
	&.alert {
		background-color: lighten($alert, 55%);
		border-color: $alert;
		p { color: $alert; background-image: $img-alert; }
	}
	&.notify {
		background-color: lighten($notify, 46%);
		border-color: $notify;
		p { color: $notify; background-image: $img-notify; }
	}
	&.confirm {
		background-color: lighten($confirm, 56%);
		border-color: $confirm;
		p { color: $confirm; background-image: $img-confirm; }
	}
}

/* @end */




/* @group .widget styles */

.widget {
	margin: 0 -.7em 1em -.7em;
	background-color: lighten($primary, 65%);
	border-top: 1px solid lighten($highlight, 35%);
	border-bottom: 2px solid lighten($highlight, 35%);
	&.vehicle {
		.button-group {
			width: 97%;
			margin: 0 auto;
			padding: .25em 0;
			li {
				margin: 0;
				padding: 0;
				border-left: 1px solid $white;
				&:first-child { border: none; }
				&:last-child { width: 40%; }
			}
			a { background-color: $primary; }
			a.flag {
				background-image: $img-flag;
				background-position: top right;
				background-repeat: no-repeat;
			}
		}
	}
	&.fillup, &.reminder {
		margin-bottom: 0;
		border-bottom: none;
		dt { border-bottom: 1px solid lighten($highlight, 35%); }
		tr td a {
			display: block;
			width:  100%;
			color: $highlight;
			line-height: 1.75em; 
		}
	}
	&.fillup tr td:first-child { width: 20%; }
	&.fillup tr td:last-child { width: 30%; }
	&.reminder tr td { width: 50%; }
	h2 { 
		margin: 0;
		padding: 0.5em;
		border: none;
		a {
			color: $highlight;
		}
	}
	table {
		width: 100%;
		background: $background;
		border-top:  1px solid lighten($highlight, 35%);
		border-bottom:  1px solid lighten($highlight, 35%);
	}
	th {
		text-align: left;
		font-size:  0.9em;
		font-weight: bold;
		color: $background;
		background-color: $table-head;
	}
	td, th {
		padding: .5em;
		border-left: 1px solid lighten($highlight, 35%);
		&:first-child {
			border-left: none;
		}
	}
	tr:nth-child(even), .even { 
		background-color: $zebra-stripe;
	}
}

@media (min-width: 320px) {
	.widget {
		&.fillup, &.reminder {
			tr td:last-child {
					padding-right: 1.75em;
					background-image: $img-more; 
					background-repeat: no-repeat;
					background-position: center right;
			}
		}
	}
}

/* @end */




/* @group .pagination styles */

.pagination {
	margin: 0.5em 0 1em 0;
	ol {
		display: table;
		table-layout: fixed;
		text-align: center;
		li {
			display: table-cell;
			&:first-child a { margin-left: -0.5em; }
			a {
				color: $highlight;
				display:  block;
				margin: 0 0.5em;
				padding:  0 0.5em;
			}
		}

	}
}

/* @end */




/* @group .hbox and .vbox styles */

.hbox {
	display: table;
	table-layout: fixed;
	&.fluid { 
		table-layout: auto;
	}
	li {
		display: table-cell;
		padding: 0 .25em; margin: 0; 
	}
}
.vbox {
	li {
		display: block;
		margin: .5em .25em;
	}
}

/* @end */




/* @group .button-group styles */

.button-group {
	margin: 0;
	padding: 1em 0; 
	width: 100%;
	li.button {
		display: block;
		padding: .8em 0;
	}
	a, button, .button {
		width: 100%;
		border: none;
		display: block;
		margin: 0 auto; 
		padding: .8em 0;
		overflow: hidden;
		color: lighten($highlight, 45%);
		font-size: .9em;
		font-family: sans-serif;
		white-space: nowrap;
		background-color: $primary;
		text-align: center;
		text-decoration: none;
		text-overflow: ellipsis;
		span {
			margin: 0 auto;
			padding: 0.75em 0;
		}
	}
	a:hover, button:hover, .button:hover {
		color: $background;
		background: darken($primary, 15%);
		cursor: pointer;
	}
	.disabled a, button[disabled], .disabled.button {
		cursor: default;
		color: lighten($highlight, 30%);
		background-color: lighten($highlight, 50%);
		&:hover {
			cursor: default;
			color: lighten($highlight, 30%);
			background-color: lighten($highlight, 50%);
		}
	}
	.invert { 
		a, button, &.button {
			background: $background;
			span { color: $primary; }
		}
		a:hover, button:hover, &.button:hover {
			cursor: pointer;
			background: lighten($highlight, 50%);
		}
		&.disabled a, button[disabled], &.disabled.button {
			cursor: default;
			background: $background;
			&:hover {
				cursor: default;
				background: $background;
			}
			&:hover span, span { color: lighten($highlight, 30%); }
		}
	}
	.icon span {
		padding-right: 2.25em;
		background-repeat: no-repeat;
		background-position: center right; 
	}
	.icon.left span {
		padding-left: 2.25em;
		background-position: center left; 
	}
	.false span { background-image: $img-cancel; }
	.false.invert span { background-image: $img-cancel_invert; }
	.false.disabled span { background-image: $img-cancel_disabled; }
	.add span { background-image: $img-add; }
	.add.invert span { background-image: $img-add_invert; }
	.add.disabled span { background-image: $img-add_disabled; }
	.back span { background-image: $img-back; }
	.back.invert span { background-image: $img-back_invert; }
	.back.disabled span { background-image: $img-back_disabled; }
	.next span { background-image: $img-next; }
	.next.invert span { background-image: $img-next_invert; }
	.next.disabled span { background-image: $img-next_disabled; }
	.refresh span { background-image: $img-refresh; }
	.refresh.invert span { background-image: $img-refresh_invert; }
	.refresh.disabled span { background-image: $img-refresh_disabled; }
}

/* @end */




/* @group .list styles */

.list {
	list-style: none;
	li {
		padding:  .75em 0;
		border-bottom: 1px solid lighten($highlight, 40%);
		&:last-child { border-bottom: none; }
	}
	dt {
		font-weight: bold;
		padding:  .5em 0 0 0;
		em {
			font-size: 0.85em;
			font-style: italic;
			font-weight: normal;
		}
	}
	dd {
		padding: .25em 0 .75em 0;
		border-bottom: 1px solid lighten($highlight, 40%);
		&:last-child { border-bottom: none; }
	}
	&.delete {
		&.delete {
			dd { color: $alert; }
		}
	}
}

/* @end */




/* @group <form> styles */

form {
	.validation-summary-errors {
		color: $notify;
		font-style: italic;
	}
	ol.buttons li {
		background: none; // this is a tiny hack to fix the Blackberry 4.6.x booger above
	}
	li {
		list-style: none;
		margin: 0.25em 0;
		padding:  .25em 0;
		&.validation-error {
			margin: 0.25em -0.5em;
			padding: 0.5em;
			border: 1px solid $notify;
			background-image: $img-flag;
			background-position: top right;
			background-repeat: no-repeat;
			label, span {
				color: $notify;
			}
		}
	}
	label {
		//display: inline-block;
    	vertical-align: baseline;
		margin: 0;
		font-weight: bold;
		em {
			font-size: 0.85em;
			font-style: italic;
			font-weight: normal;
		}
	}
	input:not([type=radio]),input:not([type=submit]):focus, textarea:focus {
		background: $background;
	}
	select, input[type=text], input[type=number], textarea {
	  display: block;
	  max-width: 100%;
	  margin: 0.2em 0;
	  padding: 0.1em 0;
	  text-indent: 0.25em; 
	  text-overflow:ellipsis;
	  width: 98%;
	  outline: none;
	  word-wrap: break-word;
	  word-wrap: break-all;
	  ms-box-sizing:content-box;
	  -moz-box-sizing:content-box;
	  -webkit-box-sizing:content-box;
	  box-sizing:content-box; 
	}
	input[type=text], input[type=number], textarea {
		border: solid 1px lighten($highlight, 35%);
	}
	input[type=checkbox]{
		margin-left: 0;
	}
	select {
		max-width: 82.5%;
	}
	h4 {
		text-transform: uppercase;
		border: none;
	}
	.psuedo-date {
		width: 100%;
		display: table;
		table-layout: fixed;
		label { display: table-row; width: 100%; }
		select {
			display: table-cell;
			vertical-align: middle;
			width: 27.5%;
			&:nth-child(3) { width: 17.5%; margin: 0 2%; }
		}
	}
	.range {
		label {
			width: 15%;
			display: block;
			padding: 0.1em .5em 0 0;
			float: left;
		}
		select {
			display: block;
			width: 60%;
		}
	}
}
	
/* @end */	
	
	
		

/* @group utilities */

.hidden {
	display: none !important; //* when you really want to hide something ;)
}
.flag {
	background-image: $img-flag;
	background-position: top right;
	background-repeat: no-repeat;
}
em {
	font-size: .85em;
	font-weight: normal;
	font-style: italic;
}
.legend {
	:nth-child(1) { color: $legend-1; }
	:nth-child(2) { color: $legend-2; }
	:nth-child(3) { color: $legend-3; }
	:nth-child(4) { color: $legend-4; }
	:nth-child(5) { color: $legend-5; }
	:nth-child(6) { color: $legend-6; }
	:nth-child(7) { color: $legend-7; }
	:nth-child(8) { color: $legend-8; }
	:nth-child(9) { color: $legend-9; }
	:nth-child(10){ color: $legend-10;}
}

/* @end */