/* @group Sass Imports */
@import "includes/definitions";
/* @end */

#main {
    -moz-transition: opacity 0.5s;
    -webkit-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    -ms-transition: opacity 0.5s;
    transition: opacity 0.5s;
}
 
.swapping { opacity: 0.2;}

.button-group { 
	a, button, .button {
		@include rounded-corners (0.35em);
		@include gradient-background; 
		@include drop-shadow (0px, 2px, 2px, darken($shadow, 5%));
	}
	a:hover, button:hover, .button:hover {
		@include gradient-background-hover; 
	}
	.disabled a, button[disabled], .disabled.button {
		@include gradient-background-disabled; 
		@include drop-shadow (0px, 1px, 1px, lighten($shadow, 50%));
		&:hover {
			@include gradient-background-disabled; 
		}
	}
	.invert { 
		a, button, &.button {
			@include drop-shadow-none;
		}
	}
}

.widget {
	dt {
		padding-left: 1.2em;
		background-image: $img-open;
		background-repeat: no-repeat;
		background-position: center left; 
	}
	&.closed { 
		dt { background-image: $img-closed; }
		dd { display: none; }
	}
	.button-group {
		a {
			background-color: $shadow;
			background-image: none;
			@include rounded-corners (0);
			@include drop-shadow-none;
		}
	}
}

@media all and (-webkit-min-device-pixel-ratio: 2) {
	form li.required, .flag {
		background-image: $img-flag_2x;
		-webkit-background-size: 20px 20px;
		background-size: 20px 20px;
	}
	body > header h1 {
		background-image: $img-app_2x;
		-webkit-background-size: 20px 20px;
		background-size: 20px 20px;
	}
	
	.title {
		li:first-child {
			background-image: $img-separator-white_2x;
			-webkit-background-size: 25px 86px;
			background-size: 25px 86px;
		}
		a {
			background-image: $img-dashboard_2x;
			-webkit-background-size: 20px 20px;
			background-size: 20px 20px;
		}
	}
	.breadcrumbs li:first-child {
		background-image: $img-separator-white_2x;
		-webkit-background-size: 25px 86px;
		background-size: 25px 86px;
	}
	div.flash {
		p { 
			-webkit-background-size: 20px 20px; 
			background-size: 20px 20px; 
		}
		&.alert p { background-image: $img-alert_2x; }
		&.notify p { background-image: $img-notify_2x; }
		&.confirm p { background-image: $img-confirm_2x; }
	}
	dl.widget {
		dt { 
			background-image: $img-open_2x; 
			-webkit-background-size: 20px 20px; 
			background-size: 20px 20px;
		}
		&.closed dt { background-image: $img-closed_2x; }
	}
	ol.buttons {
		span {
			-webkit-background-size: 16px 16px; 
			background-size: 16px 16px;
		}
		.add span { background-image: $img-add_2x; }
		.false span { background-image: $img-cancel_2x; }
	}
	dl.widget {
		&.fillup, &.reminder {
			tr td:last-child {
				background-image: $img-more_2x;
				-webkit-background-size: 20px 20px;
				background-size: 20px 20px; }
		}
	}
	body > footer p.switch a {
		-webkit-background-size: 20px 20px;
		background-size: 20px 20px;
	}
	.false span { background-image: $img-cancel_2x; }
	.false.invert span { background-image: $img-cancel_2x_invert; }
	.false.disabled span { background-image: $img-cancel_2x_disabled; }
	.add span { background-image: $img-add_2x; }
	.add.invert span { background-image: $img-add_2x_invert; }
	.add.disabled span { background-image: $img-add_2x_disabled; }
	.back span { background-image: $img-back_2x; }
	.back.invert span { background-image: $img-back_2x_invert; }
	.back.disabled span { background-image: $img-back_2x_disabled; }
	.next span { background-image: $img-next_2x; }
	.next.invert span { background-image: $img-next_2x_invert; }
	.next.disabled span { background-image: $img-next_2x_disabled; }
	.refresh span { background-image: $img-refresh_2x; }
	.refresh.invert span { background-image: $img-refresh_2x_invert; }
	.refresh.disabled span { background-image: $img-refresh_2x_disabled; }
	.widget dt { background-image: $img-open_2x; }
	.widget.closed dt { background-image: $img-closed_2x; } 
	.widget .button-group a.flag { background-image: $img-flag_2x; }
	body > footer p.switch a { background-image: $img-desktop_2x; }
	body > footer p.switch.mobile a { background-image: $img-mobile; }
}