@model MileageStats.Domain.Models.ReminderSummaryModel
@{
    ViewBag.Title = "Reminders for " + ViewBag.VehicleName;
}
<div id="details-page">
    <div id="scrollable">
        <div>
            @{ Html.RenderAction("ListPartial", "Vehicle", new { vehicleId = Html.RouteValue("vehicleId"), isCollapsed = true }); }
        </div>
    </div>
    <div id="fixed">
        <div>
            <div id="info" class="framed article">
                <div>
                    <div id="details-pane" class="tab opened section">
                        @Html.ActionLink(" ", "Details", "Vehicle", new { id = Html.RouteValue("vehicleId") }, new { @class = "trigger" })
                    </div>
                    <div id="fillups-pane" class="tab opened section">
                        @Html.ActionLink(" ", "List", "Fillup", new { vehicleId = Html.RouteValue("vehicleId") }, new { @class = "trigger" })
                    </div>
                    <div id="reminders-pane" class="tab opened section">
                        <a></a>
                        <div class="content">
                            <div class="header">
                                @using (Html.BeginForm("Add", "Reminder", new { vehicleId = Html.RouteValue("vehicleId") }, FormMethod.Get))
                                {
                                    <button data-action="reminder-add-selected" class="button generic small" type="submit"><img src="~/Content/button-add.png" title="Add Reminder" alt="Add" /></button>
                                }
                            </div>
                            <div class="aside">
                                @{ Html.RenderAction("ListPartial", new { vehicleId = Html.RouteValue("vehicleId") }); }
                            </div>
                            <div class="display article">
                                @Html.Partial("DetailsPartial", Model)
                                <div>
                                @using (Html.BeginForm("Fulfill", "Reminder", new { id = Model.ReminderId }, FormMethod.Post))
                                {
                                    <button data-action="reminder-fulfill-selected" class="button generic small" type="submit">
                                        <img src="~/Content/button-fulfill.png" title="Fulfill Reminder" alt="Save" />
                                    </button>                    
                                }
                                </div>                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

