@using MileageStats.Web.Models
@model SelectedItemList<MileageStats.Domain.Models.ReminderSummaryModel>

<dl class="fillup widget">
    <dt>
        <h2>
            <a href="#">? What goes here ?</a></h2>
    </dt>
    <dd>
        <table>
            <thead>
                <tr>
                    <th>
                        Reminder
                    </th>
                    <th>
                        Due On
                    </th>
                </tr>
            </thead>
            @foreach (var item in Model)
            {
                var url = Url.Action("Details", "Reminder", new { id = item.ReminderId });

                <tr>
                    <td>
                        <a href="@url">@item.Title</a>
                    </td>
                    <td>
                        <a href="@url">@item.DueOnFormatted</a>
                    </td>
                </tr>
            }
        </table>
    </dd>
</dl>
