@model System.Web.Mvc.HandleErrorInfo
@{
    Layout = "~/Views/Shared/_Layout.Mobile.cshtml";
}
<div class="tagline">Mileage Stats encountered a terrible error during your last request. Please try again or use the links above.</div>