@using MileageStats.Web;
@if (Request.Browser.IsMobileDevice)
{
    if (ViewContext.HttpContext.GetOverridenBrowser() == BrowserOverride.Mobile)
    {
    <p class="switch">
        <a href="@Url.Action("SwitchView", "ViewSwitcher", new { mobile = false, returnUrl = Request.Url.PathAndQuery })" rel="external">
            <span>Switch to desktop site</span> </a>
    </p>
    }
    else
    {
    @Html.ActionLink("[ Switch to Mobile ]", "SwitchView", "ViewSwitcher", new { mobile = true, returnUrl = Request.Url.PathAndQuery }, new { id = "view_switcher", rel = "external" })
    }
}
