@model MileageStats.Web.Models.VehicleFormModel
@{
    Layout = "~/Views/Shared/_Layout.Mobile.cshtml";
    ViewBag.Title = "Delete Vehicle";
}

<h2>Delete Vehicle</h2>
<p>If you wish to delete this vehicle and all of it's related data please press the button below. <strong>Please note, this action is permanent (no undo is available).</strong></p>

<ol class="button-group">
        <li>
            @using (Html.BeginForm("Delete", "Vehicle", new { id = Model.VehicleId }, FormMethod.Post))
            {
				@Html.AntiForgeryToken()

                <button type="submit" value="delete" name="action">
                    <span>Permanently delete this vehicle</span></button>
    
            }            
        </li>
    </ol>
