@{
    Layout = "~/Views/Shared/_Layout.Mobile.cshtml";
}
@* 
This is the custom error page displayed 
when the unhandled exception makes its 
way to IIS.
*@
<div class="tagline">
    Mileage Stats encountered a unknown error and is unable to proceed. 
    Return to the <a href="@Url.Action("Index", "Dashboard")">application dashboard</a> and try again.
</div>