@model System.Collections.Generic.IDictionary<string,string>

@{
    Layout = null;
    var keysList = Model.Keys.ToList();
    keysList.Sort();

}

<!DOCTYPE html>

<html>
    <head>
        <title>Browser Capabilities</title>
    </head>
    <body>
        <div>
            <table>
                <tr>
                    <th>Capability</th>
                    <th>Value</th>
                </tr>
                @foreach (var key in keysList)
                {
                <tr>
                    <td>@key</td>
                    <td>@Model[key]</td>
                </tr>                    
                }
            </table>  
        </div>
    </body>
</html>