@model System.Collections.Generic.IDictionary<string,string>

@{
    Layout = null;
    var keysList = Model.Keys.ToList();
    keysList.Sort();

}

<!DOCTYPE html>

<html>
    <head>
        <title>Browser Capabilities</title>
        <style>
            body
            {
                font-size: 40px;
            }
 
        </style>
    </head>
    <body>
        <div>
            <ul>
                @foreach (var key in keysList)
                {
                    <li>@key:@Model[key]</li>
                }
            </ul>
        </div>
    </body>
</html>