<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="mobileProfile" type="MileageStats.Web.MobileProfiler.Configuration.MobileProfileConfigurationSection, MileageStats.Web.MobileProfiler"/>
	</configSections>
	<mobileProfile defaultProfile="default">
		<profiles>
			<add name="default">
				<features>
					<add name="json" property="json"/>
				</features>
			</add>
		</profiles>
	</mobileProfile>
</configuration>