<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="wurfl" type="WURFL.Config.WURFLConfigurationSection,wurfl" />
		<section name="mobileProfile" type="MileageStats.Web.MobileProfiler.Configuration.MobileProfileConfigurationSection, MileageStats.Web.MobileProfiler"/>
	</configSections>
	<wurfl>
		<mainFile path="App_Data/wurfl-latest.zip" />
		<patches>
			<patch path="App_Data/web_browsers_patch.xml" />
		</patches>
	</wurfl>
	<mobileProfile defaultProfile="default">
		<profiles>
			<add name="default">
				<features>
					<add name="json" property="json"/>
				</features>
			</add>
		</profiles>
	</mobileProfile>
</configuration>