<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!--the TestData.sdf file will be located in the out folder for the test run-->
    <add name="MileageStatsDbContext" connectionString="Data Source=TestData.sdf" providerName="System.Data.SqlServerCe.4.0" />
  </connectionStrings>
</configuration>